:root {
  --theme-bg-color1: #489eff;
  --theme-bg-color2: #faa967;
  --theme-bg-color3: #8beed2;
  --aside-bg-color: #fff;
  --aside-bg-active-color: #555;
  --aside-font-color: #333;
  --aside-font-active-color: #189;
}
